<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Potionomics</title>
    <meta name="description" content="Potionomics Video Games">
    <link rel="canonical" href="http://localhost:4000/">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon"
          type="image/png"
          href="http://example.com/favicon.png">

    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
  </head>
  <body>
    <div class="site-container">
      <header class="site-header">
        <nav class="container site-header-nav visible-xs-block">
          <div class="site-header-nav-wrapper">
            <a href="#" class="menu-cta">
              <span class="menu-hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </span>
            </a>

            <a href="#" class="potionomics-logo">
              <img
                alt="Potionomics"
                src="/images/potionomics_logo.svg"
                width="141px"
              />
            </a>
          </div>
        </nav>

        <div class="container mobile-menu">
          <nav class="mobile-menu-nav">
            <a href="https://twitter.com/potionomics">Follow Updates</a>
            <a href="/presskit"></a>
            <a href="https://soundcloud.com/gpnicolett/potionomics-main-theme">Music</a>
          </nav>

          <a href="#" class="potionomics-logo">
            <img
              alt="Potionomics"
              src="/images/potionomics_logo.svg"
              width="141px"
            />
          </a>

          <nav class="mobile-menu-social">
            <a href="https://www.facebook.com/potionomicsgame/">
              <img
                src="/images/icons/facebook.svg"
                alt="Potionomic's facebook"
                height="30px"
              />
            </a>
            <a href="https://twitter.com/potionomics">
              <img
                src="/images/icons/twitter.svg"
                alt="Potionomic's twitter"
                height="24px"
              />
            </a>
            <!-- <a href="/">
              <img
                src="/images/icons/steam.svg"
                alt="Potionomic's steam"
                height="22px"
              />
            </a> -->
            <a href="https://www.tumblr.com/blog/potionomicsgame">
              <img
                src="/images/icons/tumblr.svg"
                alt="Potionomic's tumblr"
                height="28px"
              />
            </a>
          </nav>
        </div>
      </header>

      <!-- <main class="">
        <section class="">
          <header>

          </header>

        </section>

        <footer class="">

        </footer>
      </main> -->

      <section class="spacing-base">
        <div class="section-hero">
          <div class="hero-layer hero-layer-2" data-depth="-0.7"></div>
          <div class="hero-layer hero-layer-3" data-depth="-0.6"></div>
          <div class="hero-layer hero-layer-4" data-depth="-0.5"></div>
          <div class="hero-layer hero-layer-5" data-depth="-0.6"></div>
          <div class="hero-layer hero-layer-6" data-depth="-0.4"></div>
          <div class="hero-layer hero-layer-7" data-depth="-0.2"></div>
          <div class="hero-layer-8"></div>
          <div class="hero-layer hero-layer-9" data-depth="-0.3"></div>


          <img class="visible-xs-block" width="100%" src="/images/hero/hero.jpg" />
          <img class="hero-tablet hidden-xs" width="100%" src="/images/hero/hero_tablet.jpg" />
        </div>
      </section>

      <section class="container section-headline-top spacing-base">
        <center>
          <div>
            <div style="position:relative;padding-top:56.25%;">
              <iframe src="https://youtu.be/23eXWND9rnE" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
          </div>
        </center>
      </section>

      <div class="background-gradient">
        <div class="container divider-container spacing-base">
          <img
            aria-hidden="true"
            height="16px"
            src="/images/divider-small.svg"
          />
        </div>

        <section class="container section-headline-top spacing-base">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <h2>
                Potionomics is a PC video game about the business side of potion brewing.
              </h2>
            </div>
          </div>
        </section>

     <section class="container section-summary spacing-base">
         
          <div class="container divider-container spacing-base">
          <img
            aria-hidden="true"
            height="16px"
            src="/images/divider-small.svg"
          />
          </div>
          
          <div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0 spacing-small">
                <img
                  class="letter-format"
                  height="120px"
                  src="/images/letter_a.svg"
                />
                <h2>
                  ssume the role of a penniless witch named Sylvia who must transform her debt-ridden potion shop into a thriving business.
                </h2>
              </div>

              <div class="col-xs-12 visible-xs-block">
                  <p>
                    Along the way, you will encounter mighty (and not-so-mighty) heroes, fellow merchants, and a colorful cast of customers.
                  </p>

                  <p>
                    As every aspiring entrepreneur knows, customers will be fickle, competition will be fierce, and prices never stay stable. 
                  </p>

                  <p>
                    Potion brewing is as much a science as it is an art. Master your craft while learning new recipes along the way! 
                  </p>

                  <p>
                    Add in some magic and you have a recipe for a magnificent adventure unlike any you’ve ever played before.
                  </p>
              </div>
            </div>
          </div>

            <div class="row hidden-xs">
              <div class="col-sm-5 col-sm-offset-1 col-lg-6 col-lg-offset-0">
                <p>
                  Along the way, you will encounter mighty (and not-so-mighty) heroes, classic RPG creatures, and a genius economist trapped in an owl’s body.
                </p>
              </div>

              <div class="col-sm-5 col-lg-6 col-lg-offset-0">
                <p>
                  Potion brewing is as much a science as it is an art. Master your craft while learning new recipes along the way!
                </p>
              </div>
            </div>

            <div class="row hidden-xs">
              <div class="col-sm-5 col-sm-offset-1 col-lg-6 col-lg-offset-0">
                <p>
                  As every aspiring entrepreneur knows; customers will be fickle, competition will be fierce, and prices never stay stable.
                </p>
              </div>

              <div class="col-sm-5 col-lg-6 col-lg-offset-0">
                <p>
                  Add in some magic and you have a recipe for a magnificent adventure unlike any you’ve ever played before.
                </p>
              </div>
            </div>
          </div>
        </section>

        <div class="container divider-container spacing-base">
          <img
            class="visible-xs-inline-block"
            aria-hidden="true"
            height="16px"
            src="/images/divider-small.svg"
          />
          <img
            class="hidden-xs"
            aria-hidden="true"
            width="100%"
            src="/images/divider-large.svg"
          />
        </div>

        <!-- <img width="1000px" src="/images/divider-large.svg" /> -->

        <section class="container section-features">
          <div class="row block-feature spacing-large">
            <div class="col-xs-12 col-lg-6">
              <img
                class="feature-image"
                src="/images/feature_art/feature_art_1.png"
                width="100%"
              />
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-1">
              <img class="feature-icon" height="68px" src="/images/icons/business.svg" />
              <h2>Open for Business</h2>
              <p>
                Gather ingredients, light your cauldron, and brew up some potions! Master the art of running a potion shop in a fantastical world.
              </p>
            </div>
          </div>

          <div class="row block-feature spacing-large">
            <div class="col-xs-12 col-lg-6 col-lg-push-6">
              <img
                class="feature-image"
                src="/images/feature_art/feature_art_2.png"
                width="100%"
              />
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-offset-0 col-lg-5 col-lg-pull-6">
              <img class="feature-icon" height="70px" src="/images/icons/trade.svg" />
              <h2>Wheel &amp; Deal</h2>
              <p>
                Haggle and negotiate with a slew of demanding customers.
              </p>
            </div>
          </div>

          <div class="row block-feature spacing-medium">
            <div class="col-xs-12 col-lg-6">
              <img
                class="feature-image"
                src="/images/feature_art/feature_art_3.png"
                width="100%"
              />
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-1">
              <img class="feature-icon" height="66px" src="/images/icons/interact.svg" />
              <h2>Profit from a Colorful Cast</h2>
              <p>
                Interact with fantastic (and not so fantastic) characters that can help you on your way to riches.
              </p>
            </div>
          </div>
        </section>

        <div class="container divider-container spacing-base">
          <img
            aria-hidden="true"
            height="16px"
            src="/images/divider-small.svg"
          />
        </div>

        <a href="https://twitter.com/potionomics" class="development-blog">
          <img alt="Check for Updates" width="100%" src="/images/ComingSoon.png" />
        </a>

        <footer>
          <div class="row">
            <div class="col-xs-12">
              <a href="/" class="voracious-logo">
                <img
                  alt="Go to the Voracious Games site"
                  src="/images/voracious_logo.svg"
                  width="228px"
                />
              </a>
            </div>
          <div class="row">
           <div class="col-xs-12 ">
              <class="footer-copy-text">Voracious Games is an independent game development studio based in Seattle, Washington.
            </div>

 <div class="row">
           <div class="col-xs-12 ">
              <class="footer-copy-text">We are currently working on Potionomics. Want to know more or work with us?
            </div>

            <div class="col-xs-12">

 <class="footer-copy-text"><a href="mailto:contact@voraciousgames.com" class="footer-copy-text">Contact@VoraciousGames.com</a>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
